<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/svg/bootstrap-icons.min.css">
</head>

<body class="">
    <main class="">
        <h1 id="mainTitle"></h1>
        <!-- ? Principal information -->
        <div class="d-flex flex-column flex-lg-row mt-5 text-center p-3">
            <div class=" flex-fill card shadow">Contenedor 1</div>
            <div class="flex-fill card shadow">Contenedor 2</div>
            <a name="botoncito" id="botoncito" class="btn btn-primary" href="#" role="button">Button</a>

        </div>

        <div>
            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
        <!-- Llamada al framework y librería de mensajes -->
        <script src="../../resources/js/bootstrap/bootstrap.min.js"></script>
        <script src="../../resources/js/sweetAlert2/sweetalert2@11.js"></script>
        <!-- Llamada al controlador general de la aplicación -->
        <script type="text/javascript" src="../../controllers/utils/components.js"></script>
        <!-- Llamada al controlador del sitio privado -->
        <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
        <!-- Llamada al controlador de la página web -->
        <script src="../../controllers/admin/dashboard.js"></script>
    </main>

</body>

</html>