<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/svg/bootstrap-icons.min.css">
</head>

<body class="">
    <header>
        <!-- Contenido de la barra de navegación -->
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="dashboard.html">CarWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#contentMenu"
                    aria-controls="contentMenu" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="contentMenu"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Admin Menu</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    <button type="button" class="btn btn-outline-dark w-100">Home</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    <button type="button" class="btn btn-outline-dark w-100">Categories</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    <button type="button" class="btn btn-outline-dark w-100">Cars</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    <button type="button" class="btn btn-outline-dark w-100">Customer</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page">
                                    <button type="button" class="btn btn-danger w-100" onclick="logOut()">
                                        log out
                                    </button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">
                                    <button type="button" class="btn btn-info w-100">
                                        <i class="bi bi-person-circle"></i> Profile
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="text-center">

    </main>
    <script src="../../resources/js/bootstrap.min.js"></script>
</body>

</html>