<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/">
</head>

<body class="">
    <main class="text-center">
        <form id="loginForm">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="car-body p-5 rounded shadow w-auto">
                    <h1 id="mainTitle" class="mb-5">Login</h1>
                    <div class="mb-3">
                        <h5 for="userAdmin" class="form-label">Username</h5>
                        <input type="text" class="form-control form-control-lg" name="user" id="user"
                            placeholder="Type your username..." />
                    </div>
                    <div class="mb-3">
                        <h5 for="pass" class="form-label">Password</h5>
                        <div class="input-group">
                            <input type="password" class="form-control form-control-lg" name="pass" id="pass"
                                placeholder="Type your password..." />
                            <button class="btn btn-outline-secondary" type="button">
                                
                            </button>
                        </div>
                    </div>

                    <hr class="border-5">
                    <div class="p-3 row">
                        <div class="col-6">
                            <p href="#" class="text-danger text-decoration-none">wrong password</p>
                        </div>
                        <div class="col-6">
                            <a href="#" class=" text-decoration-none">forgot password?</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary w-100 fs-3">
                        Login
                    </button>

                </div>
            </div>
        </form>
    </main>
    <script src="../../resources/js/bootstrap.min.js"></script>
</body>

</html>