<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/svg/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <div class="vh-100 row g-0">

            <!-- Fondo -->
            <div class="col-lg-6 d-flex align-items-center justify-content-center" style="background-image: url(./../../resources/img/background/loginPicture.jpg);
               background-size: cover; background-position: center;">
            </div>

            <!-- Formulario -->
            <div class="col-lg-6 d-flex align-items-center justify-content-center">

                <form id="loginForm">
                    <h1 id="mainTitle" class="text-center">Login</h1>

                    <div class="card-body p-4 rounded shadow w-auto">

                        <p href="#" class="text-danger text-decoration-none fs-5" id="wrongUserInfo"></p>

                        <div class="input-group input-group-lg mt-3">
                            <span class="input-group-text">Username</span>
                            <input type="text" class="form-control" name="usernameUser" id="usernameUser">
                        </div>

                        <div class="input-group input-group-lg mt-3">
                            <span class="input-group-text">Password</span>
                            <input type="password" class="form-control" name="passwordUser" id="passwordUser">
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <a class='text-primary text-decoration-none fs-5' href="./template.html">
                                    Forgot password?
                                </a>
                            </div>
                            <div class="col-6 text-end">
                                <a class='text-success text-decoration-none fs-5' href="./signup.html">
                                    Create an account
                                </a>
                            </div>
                        </div>

                        <div class="mt-4 d-flex justify-content-center">
                            <button class="btn btn-primary w-100 fs-3" type="submit">Login</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
        <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
        <!-- Llamada al framework y librería de mensajes -->
        <script src="../../resources/js/bootstrap/bootstrap.min.js"></script>
        <script src="../../resources/js/sweetAlert2/sweetalert2@11.js"></script>
        <!-- Llamada al controlador general de la aplicación -->
        <script type="text/javascript" src="../../controllers/utils/components.js"></script>
        <!-- Llamada al controlador del sitio privado -->
        <script type="text/javascript" src="../../controllers/utils/public.js"></script>
        <!-- ? Llamada al controlador de la página web -->
        <script type="text/javascript" src="../../controllers/public/login.js"></script>

    </main>
</body>

</html>