<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../resources/svg/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./../../resources/css/personal.css">
</head>

<body
    style="margin: 0; min-height: 100vh; display: flex; align-items: center; justify-content: center; background-image: url('../../resources/img/background/signupPicture.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; overflow-x: hidden;">
    <main style="width: 100%; padding: 2rem 1rem;">
        <div class="d-flex align-items-center justify-content-center">
            <form id="signupForm" style="width: 100%; max-width: 540px;">
                <div class="card glass-card p-4 rounded shadow w-100 ">

                    <h1 id="" class="text-center card-title">Signup</h1>

                    <h5 class="mt-4">Personal Information</h5>

                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">First name</span>
                        <input type="text" class="form-control" name="nameUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Middle name</span>
                        <input type="text" class="form-control" name="middleUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Last name</span>
                        <input type="text" class="form-control" name="lastUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Email</span>
                        <input type="email" class="form-control" name="emailUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Phone number</span>
                        <input type="text" class="form-control" name="phoneUser">
                    </div>

                    <h5 class="mt-4">Account Details</h5>

                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Username</span>
                        <input type="text" class="form-control" name="usernameUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Password</span>
                        <input type="password" class="form-control" name="passwordUser">
                    </div>
                    <div class="input-group input-group-lg mt-4">
                        <span class="input-group-text">Repeat password</span>
                        <input type="password" class="form-control" name="password2User">
                    </div>

                    <div class="mt-4 d-flex justify-content-center ">
                        <button type="submit" class="btn btn-primary fs-5"
                            id="buttonSubmit">Signup</button>

                    </div>
                    <div class="mt-4 d-flex justify-content-center">

                        <a href="./login.html">
                            <button type="button" class="btn btn-outline-light fs-5 ">Already have an
                                account? Click here for login</button>
                        </a>
                    </div>

                </div>
            </form>
        </div>

        <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
        <!-- Llamada al framework y librería de mensajes -->
        <script src="../../resources/js/bootstrap/bootstrap.min.js"></script>
        <script src="../../resources/js/sweetAlert2/sweetalert2@11.js"></script>
        <!-- Llamada al controlador general de la aplicación -->
        <script type="text/javascript" src="../../controllers/utils/components.js"></script>
        <!-- Llamada al controlador del sitio privado -->
        <script type="text/javascript" src="../../controllers/utils/public.js"></script>
        <!-- ? Llamada al controlador de la página web -->
        <script type="text/javascript" src="../../controllers/public/signup.js"></script>
    </main>
</body>

</html>